.container {
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
}
.ifr-map{
  width: 100%;
  height: 450px;
  border:0;
}
#ifr-weather{
  display: block;
  margin: 20px 0;
}
#ifr-weather iframe{
  width: 100%;
  height: 700px;
}